#optionsPanel {
  background-color: #333;
  background-image: radial-gradient(circle closest-corner at center bottom, #444 0%, #333 100%);

  button {
    color: #ccc;

    &[type=submit]:hover {
      color: #4cd964;
    }

    &[type=button]:hover {
      color: #ff2d55;
    }
  }

  .fancy-checkbox {
    input[type=checkbox] {
      position: relative;
      margin: 0;
      vertical-align: top;
      float: right;
      visibility: hidden;

      &:before {      
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 50px;
        height: 28px;
        border: 2px solid rgb(227,227,227);
        border-radius: 1.5em;
        transition: all .3s ease-out;
        outline: none;
        cursor: pointer;
        visibility: visible;
      }

      &:after {
        content: '';
        position: absolute;
        right: 24px;
        top: 2px;
        display: block;
        border-radius: 50%;
        box-shadow: 0 3px 2px rgba(0,0,0,.2), 0 0 0 1px rgb(227,227,227);
        background-color: white;
        width: 28px;
        height: 28px;
        transition: transform .3s cubic-bezier(.45,.45,.42,1.36);
        cursor: pointer;
        visibility: visible;
      }

      &:checked:before {
        border-color: rgb(2, 226, 102);
        background-color: rgb(2, 226, 102);
      }

      &:checked:after {
        box-shadow: 0 3px 2px rgba(0,0,0,.2);
        transform: translate(22px, 0);
      }
    }
  }

  #options {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 430px;
    margin: -210px 0 0 -400px;

    #options-left {
      position: absolute;
      top: 20px;
      right: 280px;
      bottom: 60px;
      left: 20px;
      text-align: left;

      textarea {
        width: 474px;
        height: 315px;
        resize: none;
        padding: 10px;
        background: none;
        border: 1px solid #666;
        outline: none;
        color: #fff;
        font-size: 14px;
        border-radius: 3px;
        overflow: auto;
      }
    }

    #options-right {
      position: absolute;
      top: 60px;
      right: 20px;
      left: 540px;
      text-align: left;

      fieldset {
        padding: 20px;
        border: 1px solid #666;
        border-radius: 3px;

        legend {
          color: #666;
          margin-left: -5px;
          padding: 0 5px;
        }

        dl {
          width: 100%;
          margin-bottom: -20px;
          overflow: hidden;
        }

        dt, dd {
          height: 52px;
          line-height: 32px;
          float: left;
        }

        dt {
          width: 70%;
        }

        dd {
          width: 30%;
          text-align: right;
        }
      }
    }

    #options-bottom {
      position: absolute;
      top: 380px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      text-align: left;
    }
  }

  copyright {
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    color: #888;
    font-weight: lighter;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
